.custom-navbar {
  background-color: #708238; 
  padding: 10px 20px;
  border-radius: 0 0 12px 12px;
  box-shadow: rgba(0,0,0,0.15) 0px 4px 12px;
}

.navbar-brand, .nav-link {
  font-size: 1.1rem;
}

.navbar-toggler {
  border-color: rgba(255,255,255,0.4);
}
